<div class="card sm:card-side shadow-lg mb-10 text-black dark:text-white
  bg-gray-200 dark:bg-slate-800 animate-pulse">

  <!-- Placeholder de imagen -->
  <figure class="bg-gray-300 dark:bg-slate-700  shrink-0">
    <div class="size-100"></div>
  </figure>

  <div class="card-body w-full sm:w-100 flex flex-col justify-between">
    
    <div class="space-y-6">
      <!-- Propiedad: Name -->
      <div class="space-y-2">
        <div class="h-6 bg-gray-300 dark:bg-slate-700 rounded w-20"></div>
        <div class="h-5 bg-gray-300 dark:bg-slate-700 rounded w-28"></div>
      </div>

      <!-- Propiedad: Isdestroyed -->
      <div class="space-y-2">
        <div class="h-6 bg-gray-300 dark:bg-slate-700 rounded w-32"></div>
        <div class="h-5 bg-gray-300 dark:bg-slate-700 rounded w-12"></div>
      </div>

      <!-- Propiedad: Description (Simula el párrafo largo de la imagen) -->
      <div class="space-y-2">
        <div class="h-6 bg-gray-300 dark:bg-slate-700 rounded w-28"></div>
        
        <div class="space-y-2 pt-1">
          <div class="h-4 bg-gray-300 dark:bg-slate-700 rounded w-full"></div>
          <div class="h-4 bg-gray-300 dark:bg-slate-700 rounded w-5/6"></div>
        </div>
      </div>
    </div>

    <div class="card-actions justify-end mt-10">
      <div class="h-10 w-28 bg-gray-300 dark:bg-slate-700 rounded-lg"></div>
    </div>

  </div>
</div>