<div class="flex flex-col min-h-screen">

  <app-tittle [title]="title" />

  <app-menuButtons />


  <app-paginator [currentPage]="paginationService.currentPage()" [totalPages]="totalPages()" />

  @if (dbzResource.isLoading()){
  <app-loading-spinner />
  } @else{
    
  <!-- TABLA -->
  <div class="grid grid-cols-1 gap-5  
     sm:grid-cols-2
     md:grid-cols-2
     lg:grid-cols-2">
    @for (character of characters(); track character.id) {
    <app-character-card [character]="character" />
    }
  </div>
  <br><br>
  }
</div>
<app-paginator [currentPage]="paginationService.currentPage()" [totalPages]="totalPages()" />