<div class="flex flex-col min-h-screen">
  <app-tittle [title]="title" />

  <dbz-menuButtons />

  <div class="flex justify-center text-black">
    <select class="select select-secondary w-40 sm:w-50 bg-gray-200 dark:bg-slate-800 dark:text-white"
      (change)="filtrar($event)">
      <option disabled selected>Search by race</option>
      @for (race of races() ; track race) {
      <option [value]="race">{{race}}</option>
      }
    </select>
  </div>

  @if (dbzResource.isLoading()){
  <loading-spinner />
  }


  <div class="grid grid-cols-1 gap-5 flex-1
    sm:grid-cols-2">
    @for (character of characters(); track character.id) {
    <dbz-character-card [character]="character" />
    }
  </div>


</div>