<div class="card card-side bg-base-100 shadow-sm my-5
 ">
  <figure class="w-80 h-180 hidden xl:block">
    <img [src]="image()" class="w-full h-full" />
  </figure>



  <div class="card-body w-full ">
    <h2 class="card-title text-4xl">{{character().name}}</h2>

    <!-- imagen en movil/md -->
    <div class="  flex justify-center xl:hidden">
      <img [src]="image()" [alt]="character().name" class="w-40 h-90" />
    </div>
    <!--  -->

    <div class=" overflow-auto mt-5">
      @for (propertie of characterProperties() ; track propertie) {
      <p><span class="font-extrabold"> {{propertie.key | titlecase}}</span> : {{propertie.value}}</p>
      <br>
      }
    </div>
    <div class="card-actions justify-end mt-5">
      <button class="btn btn-primary" (click)="openModal.set(true)">
        Details
      </button>
      @if (openModal()) {
      <app-character-modal [characterId]="character().id" (close)="openModal.set($event)" />
      }
    </div>
  </div>
</div>