<div class="card card-side  my-5 shadow-xl shadow-slate-500 dark:shadow-slate-800  
  bg-gray-200 text-black dark:text-white dark:bg-linear-to-b from-slate-900 to-slate-700
   md:h-180">
  <figure class="w-80 h-full hidden xl:block">
    <img [src]="image()" class="w-full h-full" />
  </figure>



  <div class="card-body w-full flex flex-col ">
    <div class="flex-1 overflow-auto">
      <h2 class="card-title text-4xl">{{character().name}}</h2>

      <!-- imagen en movil/md -->
      <div class="  flex justify-center xl:hidden">
        <img [src]="image()" [alt]="character().name" class="w-40 h-90" />
      </div>
      <!--  -->

      <div class=" mt-5">
        @for (propertie of characterProperties() ; track propertie) {
        <p><span class=" dark:text-amber-200 font-bold"> {{propertie.key | titlecase}}</span> : {{propertie.value}}</p>
        <br>
        }
      </div>
    </div>
    <div class="card-actions justify-end mt-5">
      <button class="btn btn-primary " (click)="openModal.set(true)">
        Details
      </button>
      @if (openModal()) {
      <dbz-character-modal [characterId]="character().id" (close)="openModal.set($event)" />
      }
    </div>
  </div>
</div>