<div class="flex flex-col min-h-screen">
  <app-tittle [title]="title" />

  <app-menuButtons />
  <app-paginator [currentPage]="paginationService.currentPage()" [totalPages]="totalPages()"></app-paginator>


  @if (planetsResource.isLoading()){
  <app-loading-spinner />
  }@else {
    
  <div class="flex-1">
    @for (planet of planetsResource.value()?.items; track planet) {
    <app-planet-card [planet]="planet"></app-planet-card>
    }
  </div>
  }
</div>
<app-paginator [currentPage]="paginationService.currentPage()" [totalPages]="totalPages()"></app-paginator>