<div class="flex flex-col min-h-screen">
  <app-tittle [title]="title" />

  <dbz-menuButtons />
  <paginator [currentPage]="paginationService.currentPage()" [totalPages]="totalPages()"></paginator>


  @if (planetsResource.isLoading()){
  <loading-spinner />
  }@else {
    
  <div class="flex-1">
    @for (planet of planetsResource.value()?.items; track planet) {
    <dbz-planet-card [planet]="planet"></dbz-planet-card>
    }
  </div>
  }
</div>
<paginator [currentPage]="paginationService.currentPage()" [totalPages]="totalPages()"></paginator>