<footer class="footer sm:footer-horizontal bg-gray-600 dark:bg-neutral text-neutral-content p-10">
  <nav class=" w-full justify-center">
    <a class="link link-hover" href="https://github.com/billylp96" target="_blank" rel="noopener noreferrer">
      Desarrollado por:
      <span class="text-blue-300 dark:text-blue-500">Billy López </span>
    </a>

    <a class="link link-hover" href="https://github.com/billylp96/anime-api" target="_blank" rel="noopener noreferrer">
      Repositorio GitHub:
      <span class="text-blue-300 dark:text-blue-500">My Anime API</span>
    </a>

    <p class="mt-5 text-center  w-full">
      © 2026
    </p>

  </nav>

</footer>