<!-- Modal interactivo utilizando la etiqueta nativa <dialog> de HTML5 y DaisyUI -->
<dialog #modal class="modal modal-middle sm:modal-middle" (close)="closeModal()">
  <div class="modal-box bg-gray-200 dark:bg-slate-800">

    <!-- 1. ESTADO DE CARGA: Skeleton animado mientras se obtienen los datos del planeta -->
    @if (planetResource.isLoading()) {
      <div class="flex flex-col gap-5 animate-pulse">
        <header class="flex justify-center">
          <div class="bg-gray-700 rounded-sm w-3/4 h-8"></div>
        </header>

        <div class="flex items-center bg-gray-700 rounded-sm w-full h-50"></div>
        <div class="flex items-center bg-gray-700 rounded-sm w-full h-50"></div>
      </div>
    } 
    @else {
      <!-- 2. CONTENIDO PRINCIPAL: Información del planeta y sus personajes -->
      <div>
        <div class="mb-15">
          <h3 class="text-lg sm:text-2xl flex justify-center">
            Characters of planet:
            <span class="font-bold text-red-400 pl-2">
              {{planetResource.value()?.name}}
            </span>
          </h3>
          <hr>
        </div>

        <!-- Iteración sobre los personajes originarios del planeta -->
        @for (character of planetCharacters(); track character.id) {
          <div class="flex row items-center mb-5">
            <p class="flex justify-center text-2xl text-blue-600 dark:text-green-400">
              {{character.name}}
            </p>
            <img [src]="character.image" [alt]="character.name" class="h-50 w-30">
          </div>
        } 
        @empty {
          <!-- Mensaje alternativo cuando el planeta no registra personajes -->
          <p class="text-red-500 text-center">No characters found for this planet.</p>
        }
      </div>
    }

    <!-- 3. ACCIONES DEL MODAL: Botón de cierre en la esquina superior e inferior -->
    <div class="modal-action">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" (click)="closeModal()">✕</button>
      <button class="btn hover:text-red-400" (click)="closeModal()">Close</button>
    </div>

  </div>
</dialog>