<div class="card sm:card-side  shadow-lg  mb-10 text-black dark:text-white
  bg-gray-200 dark:bg-slate-800">
  <figure>
    <img [src]="planet().image" [alt]="planet().image" class="size-100" />
  </figure>
  <div class="card-body w-full sm:w-100">
    @for (prop of planetProperties(planet()); track prop.key) {
    <p class="card-title dark:text-amber-100 font-bold">
      {{ prop.key | titlecase }} :
    </p>
    <p class="">{{ prop.value }} </p>
    }
    <div class="card-actions justify-end mt-10">
      <button class="btn btn-primary" (click)="openModal.set(true)">Characters</button>

      @if(openModal()){
      <dbz-planet-modal (close)="openModal.set($event)" [planetId]="planet().id"></dbz-planet-modal>
      }
    </div>
  </div>
</div>

